@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b6b8d6;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero {
  background-image: linear-gradient(
      to top left,
      rgba(182, 184, 214, 0.2),
      rgba(126, 120, 210, 0.4)
    ),
    url("../public/assets/hero-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 87vh;
}

.btn {
  @apply bg-buttonBg h-10 text-white text-center rounded-md;
}

.form {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
